/* Recuadro de color */
.color-box {
    width: 100%;
    height: 150px;
    margin: 15px 0;
    border-radius: 10px;
    border: 3px solid #000; /* borde fuerte para que se vea */
    background-color: rgb(0, 0, 0);
    transition: background-color 0.3s ease;
}

/* Card */
.card {
    border-radius: 15px;
}

/* Inputs centrados */
.form-control {
    text-align: center;
}

/* Footer */
footer {
    font-size: 0.9rem;
}

/* Sliders */
input[type="range"] {
    cursor: pointer;
}
