/* Caja grande de color */
.color-box {
    width: 100%;
    height: 250px;
    border: 4px solid #000;
    border-radius: 12px;
    background-color: rgb(0, 0, 0);
}

/* Card */
.card {
    border-radius: 15px;
}

/* Inputs centrados */
.form-control {
    text-align: center;
}
